body {
    background-color: rgb(228, 228, 228);
}

/* Estilização do header presente em todas as páginas do projeto */
#logo_platheia {
    width: 8%;
    border-radius: 15%;
}

header {
    background-color: rgb(193, 146, 231);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    width: 60%;
}

div a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

div a:hover {
    background-color: rgba(53, 14, 65, 0.452);
    border-radius: 5px;
}

/* Estilização das partes específicas da página 'Institucional' */
#about_us_box {
    border: rgb(212, 203, 203) solid 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    width: 55%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
}

#text_box {
    text-align: justify;
    font-size: 20px;
}

#image_row {
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    width: 50%;
}

#image_box {
    border: rgb(193, 146, 231) solid 3px;
    border-radius: 15px;
    width: 30%;
    display: inline;
    margin: 0 auto;
}

/* Estilização dos formulários de cadastro */
#log_in_box {
    display: flex inline-block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    background-color: rgb(128, 113, 134);
    border-radius: 15px;
    width: 55%;
}

#log_in_box p {
    text-align: center;
    color: rgb(252, 250, 250);
    font-size: 20px;
}

#log_in_box label {
    color: rgb(239, 223, 247);
    font-size: 15px;
}

input[type="text"], input[type="number"], input[type="email"]{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: none;
    padding: 5px;
    background-color: white;
}

input[type="password"]{
    width: 30%;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: none;
    padding: 5px;
    background-color: white;
}

input[type="file"]{
    width: 50%;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: none;
    padding: 5px;
    background-color: white;
}

button {
    margin: 0 auto;
    display: flex;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

button:hover {
    background-color: rgba(53, 14, 65, 0.452);
    color: white;
}